Repository pranaysuyash/photosearch-experiment: changes, and which pre-commit hooks are due for each by the changed paths.
All: ban-lazy-imports, file-size-limits

ban-lazy-imports:
  name: Ban lazy imports of server.main in routers
  entry: python scripts/precommit_ban_imports.py
  language: system
  pass_filenames: true

file-size-limits:
  name: Enforce file size/line limits
  entry: python scripts/precommit_file_limits.py
  language: system
  pass_filenames: true

refactor: Migrate face_recognition.py and search.py to Depends(get_state)
  server/api/routers/face_recognition.py
  server/api/routers/search.py
Due: ban-lazy-imports, file-size-limits

refactor: Migrate semantic_search, indexing, system to Depends(get_state)
  server/api/routers/indexing.py
  server/api/routers/semantic_search.py
  server/api/routers/system.py
Due: ban-lazy-imports, file-size-limits

refactor: Complete lazy import removal - 147 → 0
  scripts/migrate_routers.py
  server/api/routers/advanced_intent_search.py
  server/api/routers/albums.py
  server/api/routers/bulk.py
  server/api/routers/code_splitting.py
  server/api/routers/dialogs.py
  server/api/routers/duplicates.py
  server/api/routers/export.py
  server/api/routers/faces_legacy.py
  server/api/routers/favorites.py
  server/api/routers/file.py
  server/api/routers/image_analysis.py
  server/api/routers/images.py
  server/api/routers/intent.py
  server/api/routers/notes.py
  server/api/routers/ocr.py
  server/api/routers/pricing.py
  server/api/routers/ratings.py
  server/api/routers/saved_searches.py
  server/api/routers/sources.py
  server/api/routers/stats.py
  server/api/routers/tags.py
  server/api/routers/tauri.py
  server/api/routers/trash.py
  server/api/routers/video.py
  server/api/routers/video_analysis.py
  tests/contracts/openapi.json
  tests/contracts/routes.json
Due: ban-lazy-imports, file-size-limits

refactor: complete lazy import removal - semantic_indexing accepts explicit deps
  server/api/routers/indexing.py
  server/api/routers/trash.py
  server/core/state.py
  server/main.py
  server/main_advanced_features.py
  server/services/semantic_indexing.py
Due: ban-lazy-imports, file-size-limits

ci: add GitHub Actions workflow for tests and parity checks
  .github/workflows/ci.yml
  .gitignore
Due: none

docs: add dependency injection architecture documentation
  docs/architecture_dependency_injection.md
Due: none

feat(face): Complete Face Intelligence System (Phases 0-4)
  FACE_INTELLIGENCE.md
  server/api/routers/face_recognition.py
  server/config.py
  server/face_clustering_db.py
  server/face_embedding_index.py
  server/face_schema_migrations.py
  ui/src/api.ts
  ui/src/components/people/ClusterManagement.tsx
  ui/src/pages/PersonDetail.tsx
Due: ban-lazy-imports, file-size-limits

fix(face): P0 verification - fix migration imports and add assignment_state
  PHOTOSEARCH_V2_CODEBASE_AUDIT_2025-12-23.md
  photo_catalog.json
  server/ai_insights_db.py
  server/bulk_actions_db.py
  server/collaborative_spaces_db.py
  server/face_clustering_db.py
  server/location_clusters_db.py
  server/multi_tag_filter_db.py
  server/notes_db.py
  server/photo_versions_db.py
  server/privacy_controls_db.py
  server/tests/test_face_regression.py
  server/timeline_db.py
  src/enhanced_ocr_search.py
  src/multi_tag_filter_db.py
Due: file-size-limits

feat(face): Phase 5.1 backend - review queue infrastructure
  photo_catalog.json
  server/api/routers/face_recognition.py
  server/face_clustering_db.py
  server/face_schema_migrations.py
Due: ban-lazy-imports, file-size-limits

feat(face): Phase 5.1 frontend - ReviewQueue component with tabs
  src/enhanced_ocr_search.py
  ui/src/api.ts
  ui/src/components/people/ReviewQueue.tsx
  ui/src/pages/People.tsx
Due: none

test(face): Add P0 review queue tests - 9 tests passing
  audit_artifacts/pytest_adv_features_watchdog.txt
  audit_artifacts/watchdog/server__tests__test_automatic_clustering.py.txt
  audit_artifacts/watchdog/server__tests__test_face_clustering_db.py.txt
  audit_artifacts/watchdog/server__tests__test_face_detection_integration.py.txt
  audit_artifacts/watchdog/server__tests__test_face_regression.py.txt
  audit_artifacts/watchdog/server__tests__test_people_integration.py.txt
  audit_artifacts/watchdog/server__tests__test_search.py.txt
  audit_artifacts/watchdog/server__tests__test_source_items.py.txt
  audit_artifacts/watchdog/server__tests__test_sources.py.txt
  audit_artifacts/watchdog/server__tests__test_tags_db.py.txt
  audit_artifacts/watchdog/server__tests__test_trash_db.py.txt
  audit_artifacts/watchdog/test_people_endpoints.py.txt
  audit_artifacts/watchdog/test_pricing.py.txt
  audit_artifacts/watchdog/test_video_analysis.py.txt
  audit_artifacts/watchdog/tests__test_admin_unmask.py.txt
  audit_artifacts/watchdog/tests__test_advanced_features_integration.py.txt
  server/tests/test_face_regression.py
  src/enhanced_face_clustering.py
Due: file-size-limits

feat(face): Phase 5.2 - Mixed cluster warnings with badge
  PHOTOSEARCH_V2_CODEBASE_AUDIT_2025-12-23.md
  audit_artifacts/watchdog/server__tests__test_automatic_clustering.py.after_fix.txt
  audit_artifacts/watchdog/server__tests__test_search.py.txt
  audit_artifacts/watchdog/server__tests__test_source_items.py.txt
  audit_artifacts/watchdog/server__tests__test_sources.py.txt
  audit_artifacts/watchdog/server__tests__test_tags_db.py.txt
  audit_artifacts/watchdog/server__tests__test_trash_db.py.txt
  audit_artifacts/watchdog/test_people_endpoints.py.after_fix.txt
  audit_artifacts/watchdog/test_people_endpoints.py.txt
  audit_artifacts/watchdog/test_pricing.py.txt
  audit_artifacts/watchdog/test_video_analysis.py.txt
  audit_artifacts/watchdog/tests__test_admin_unmask.py.txt
  audit_artifacts/watchdog/tests__test_advanced_features_integration.py.txt
  photo_catalog.json
  server/api/routers/face_recognition.py
  server/face_clustering_db.py
  server/main.py
  ui/src/pages/People.tsx
Due: ban-lazy-imports, file-size-limits

fix: Move inline variables after imports to fix E402 linting
  server/main.py
Due: file-size-limits

feat(face): Phase 5.1 complete - batch mode and evidence panel
  audit_artifacts/pytest_full_watchdog_20251223_151840.txt
  server/api/deps.py
  server/api/routers/images.py
  server/api/routers/legacy_compat.py
  server/main.py
  server/people_tags_db.py
  server/photo_versions_db.py
  ui/src/components/people/ReviewQueue.tsx
Due: ban-lazy-imports, file-size-limits

feat(face): Phase 5.2 complete - Mixed cluster warnings
  server/api/routers/legacy_compat.py
  server/api/routers/search.py
  server/api/routers/share.py
  server/api/routers/versions.py
  server/photo_versions_db.py
  ui/src/pages/PersonDetail.tsx
Due: ban-lazy-imports, file-size-limits

feat(face): Phase 5.3 - Representative face selection
  PHOTOSEARCH_V2_CODEBASE_AUDIT_2025-12-23.md
  audit_artifacts/pytest_full_green_20251223_154836.txt
  server/api/routers/face_recognition.py
  server/face_clustering_db.py
  server/photo_versions_db.py
  ui/src/pages/People.tsx
Due: ban-lazy-imports, file-size-limits

feat(face): Phase 5.4 - Conservative merge suggestions
  PHOTOSEARCH_V2_CODEBASE_AUDIT_2025-12-23.md
  PHOTOSEARCH_V2_COMPLETE_CODEBASE_AUDIT_2025-12-23.md
  audit_artifacts/discovery_20251223_155700.txt
  audit_artifacts/hardcoded_colors_20251223_160124.txt
  audit_artifacts/hardcoded_colors_20251223_160136.txt
  audit_artifacts/mega_audit_followup_20251223_161000.txt
  audit_artifacts/mega_audit_followup_fix_20251223_161039.txt
  audit_artifacts/mega_audit_greps_20251223_160107.txt
  audit_artifacts/mega_audit_greps_fix_20251223_160116.txt
  audit_artifacts/merge_suggestions_evidence_20251223_161343.txt
  server/api/routers/face_recognition.py
  server/face_clustering_db.py
  ui/src/api.ts
  ui/src/components/people/MergeSuggestions.tsx
Due: ban-lazy-imports, file-size-limits

feat(face): Phase 6.1-6.2 - Privacy controls backend
  server/api/routers/face_recognition.py
  server/face_clustering_db.py
  server/face_schema_migrations.py
Due: ban-lazy-imports, file-size-limits

feat(face): Phase 6.1-6.2 - Privacy UI & Undo Support
  PHOTOSEARCH_V2_CODEBASE_AUDIT_2025-12-23.md
  PHOTOSEARCH_V2_COMPLETE_CODEBASE_AUDIT_2025-12-23.md
  audit_artifacts/merge_suggestions_wired_20251223_163850.txt
  server/face_clustering_db.py
  ui/src/api.ts
  ui/src/pages/People.tsx
  ui/src/pages/PersonDetail.tsx
Due: file-size-limits

feat(face): Phase 6 Complete - Privacy Controls
  PHOTOSEARCH_V2_CODEBASE_AUDIT_2025-12-23.md
  PHOTOSEARCH_V2_COMPLETE_CODEBASE_AUDIT_2025-12-23.md
  audit_artifacts/backend_endpoint_inventory.md
  audit_artifacts/backend_endpoint_inventory_stats.txt
  audit_artifacts/backend_endpoints_unused_api_only.txt
  audit_artifacts/backend_endpoints_unused_api_only_count.txt
  audit_artifacts/backend_endpoints_usage.csv
  audit_artifacts/backend_endpoints_usage_enhanced.csv
  audit_artifacts/backend_endpoints_used_count.txt
  audit_artifacts/comprehensive_stats_wired_20251223_200847.txt
  audit_artifacts/face_loop_and_person_analytics_wired_20251223_202105.txt
  audit_artifacts/ui-build_20251223_201045.exitcode.txt
  audit_artifacts/ui-build_20251223_201045.txt
  server/api/routers/face_recognition.py
  server/face_clustering_db.py
  ui/src/api.ts
  ui/src/components/settings/PrivacyPanel.tsx
  ui/src/pages/AdvancedFeaturesPage.tsx
  ui/src/pages/PersonDetail.tsx
  ui/src/pages/Settings.tsx
  ui/src/pages/UnidentifiedFaces.tsx
Due: ban-lazy-imports, file-size-limits

feat(video): Add Phase 7 - Video face recognition support
  PHOTOSEARCH_V2_CODEBASE_AUDIT_2025-12-23.md
  PHOTOSEARCH_V2_COMPLETE_CODEBASE_AUDIT_2025-12-23.md
  audit_artifacts/backend_endpoint_inventory.md
  audit_artifacts/backend_endpoint_inventory_stats.txt
  audit_artifacts/backend_endpoints_unused_api_only.txt
  audit_artifacts/backend_endpoints_unused_api_only_count.txt
  audit_artifacts/backend_endpoints_usage.csv
  audit_artifacts/backend_endpoints_usage_enhanced.csv
  audit_artifacts/backend_endpoints_used_count.txt
  audit_artifacts/frontend_endpoint_evidence.csv
  audit_artifacts/frontend_endpoints_called.txt
  audit_artifacts/frontend_endpoints_called_count.txt
  audit_artifacts/pytest_latest.exitcode.txt
  audit_artifacts/pytest_latest.txt
  audit_artifacts/ui-build_20251223_202544.exitcode.txt
  audit_artifacts/ui-build_20251223_202544.txt
  server/api/routers/video_faces.py
  server/face_detection_service.py
  server/face_schema_migrations.py
  server/main.py
  server/tests/test_video_faces.py
  server/video_face_service.py
  ui/src/pages/AdvancedFeaturesPage.tsx
  ui/src/pages/People.tsx
  ui/src/pages/PersonDetail.tsx
  ui/src/pages/UnidentifiedFaces.tsx
Due: ban-lazy-imports, file-size-limits

feat(semantic-search): Add 'Not this' feedback button for search improvement
  PHOTOSEARCH_V2_CODEBASE_AUDIT_2025-12-23.md
  PHOTOSEARCH_V2_COMPLETE_CODEBASE_AUDIT_2025-12-23.md
  audit_artifacts/backend_endpoint_inventory.md
  audit_artifacts/backend_endpoint_inventory_stats.txt
  audit_artifacts/backend_endpoints_unused_api_only.txt
  audit_artifacts/backend_endpoints_usage.csv
  audit_artifacts/backend_endpoints_usage_enhanced.csv
  audit_artifacts/backend_endpoints_used_count.txt
  audit_artifacts/face_scan_single_status_person_wired_20251223_221900.txt
  audit_artifacts/frontend_endpoints_called.txt
  audit_artifacts/frontend_endpoints_called_count.txt
  audit_artifacts/tauri_csp_enabled_20251223_233200.txt
  audit_artifacts/ui_build_latest.exitcode.txt
  audit_artifacts/ui_build_latest.txt
  server/api/routers/semantic_search.py
  src-tauri/tauri.conf.json
  ui/src/api.ts
  ui/src/components/advanced/FaceRecognitionPanel.tsx
  ui/src/components/gallery/PhotoDetail.tsx
  ui/src/components/gallery/PhotoGrid.tsx
  ui/src/components/search/MatchExplanation.tsx
  ui/src/components/video/VideoFacesPanel.tsx
  ui/src/pages/People.tsx
Due: ban-lazy-imports, file-size-limits

fix: Add null-safe checks and VLM caption infrastructure
  PHOTOSEARCH_V2_CODEBASE_AUDIT_2025-12-23.md
  PHOTOSEARCH_V2_COMPLETE_CODEBASE_AUDIT_2025-12-23.md
  audit_artifacts/tauri_cargo_check_20251223_233420.txt
  audit_artifacts/tauri_csp_runtime_build_20251223.txt
  photo_catalog.json
  server/api/routers/captions.py
  server/main.py
  server/vlm_caption_service.py
  ui/src/pages/People.tsx
Due: ban-lazy-imports, file-size-limits

Document Tauri build status and audit artifacts
  PHOTOSEARCH_V2_COMPLETE_CODEBASE_AUDIT_2025-12-23.md
  audit_artifacts/search_match_explanation_structured_aux_20251224.txt
  audit_artifacts/tauri_debug_build_app_only_20251224.txt
  audit_artifacts/todo_plan_20251223.md
  audit_artifacts/ui_build_bundle_split_fix_20251224.txt
  photo_catalog.json
  server/api/routers/search.py
  src-tauri/Cargo.toml
  ui/src/components/layout/DynamicNotchSearch.tsx
  ui/src/components/search/EnhancedSearchUI.tsx
  ui/src/contexts/PhotoSearchContext.tsx
  ui/src/pages/Search.tsx
Due: ban-lazy-imports, file-size-limits

Unify OCR UX into advanced panel
  PHOTOSEARCH_V2_COMPLETE_CODEBASE_AUDIT_2025-12-23.md
  audit_artifacts/ocr_ux_unified_20251224.txt
  ui/src/router/MainRouter.tsx
Due: none

Instrument globe overlays for perf logging
  PHOTOSEARCH_V2_COMPLETE_CODEBASE_AUDIT_2025-12-23.md
  audit_artifacts/discovery_globe_perf_instrumentation_20251224.txt
  ui/src/components/features/PhotoGlobe.tsx
Due: none

Include notes/tags aux matches in /search
  server/api/routers/search.py
Due: ban-lazy-imports, file-size-limits

fix: People page stats, View Photos, Singletons, merge suggestions, and cluster deletion
  photo_catalog.json
  server/api/routers/face_recognition.py
  server/api/routers/search.py
  server/config.py
  server/core/components.py
  server/face_clustering_db.py
  server/main.py
  ui/src/pages/PersonDetail.tsx
  ui/src/pages/Singletons.tsx
Due: ban-lazy-imports, file-size-limits

fix: add missing handleTogglePause function to People.tsx
  .kiro/specs/advanced-face-features/requirements.md
  FACE_MISSING_FEATURES_ANALYSIS_2025-12-26.md
  photo_catalog.json
  ui/src/components/advanced/AnalyticsDashboard.tsx
  ui/src/components/ai/AIInsights.tsx
  ui/src/components/albums/AlbumDetail.tsx
  ui/src/components/bulk/BulkActions.tsx
  ui/src/components/collaboration/CollaborativeSpaces.tsx
  ui/src/components/collections/SmartCollections.tsx
  ui/src/components/editing/MobilePhotoEditor.tsx
  ui/src/components/editing/PhotoEditor.tsx
  ui/src/components/export/ExportDialog.tsx
  ui/src/components/gallery/AIAnalysis.tsx
  ui/src/components/gallery/MetadataSection.tsx
  ui/src/components/gallery/PhotoDetail.tsx
  ui/src/components/gallery/PhotoGrid.tsx
  ui/src/components/gallery/ZoomControls.tsx
  ui/src/components/gallery/tabs/EditTab.tsx
  ui/src/components/gallery/tabs/PhotoDetailTabs.tsx
  ui/src/components/import/ImportWizard.tsx
  ui/src/components/layout/DynamicNotchSearch.tsx
  ui/src/components/layout/Layout.tsx
  ui/src/components/layout/NotchBar.tsx
  ui/src/components/locations/LocationCorrection.tsx
  ui/src/components/locations/PlaceClustering.tsx
  ui/src/components/timeline/StoryCreator.tsx
  ui/src/pages/People.tsx
Due: none

fix: resolve all ruff lint errors
  .kiro/specs/advanced-face-features/tasks.md
  FACE_TODOS.md
  FACE_VALIDATION_NOTES_2025-12-27.md
  KIRO_SPECS_IMPLEMENTATION_AUDIT_2025-12-27.md
  requirements.txt
  server/api/routers/face_recognition.py
  server/api/routers/people_photo_association.py
  server/face_attribute_analyzer.py
  server/face_clustering_db.py
  server/face_detection_service.py
  server/face_embedding_index.py
  server/face_schema_migrations.py
  server/lancedb_store.py
  server/performance_optimized_face_service.py
  server/requirements.txt
  server/schema_extensions.py
  server/tests/test_face_clustering_db.py
  server/tests/test_faces_attributes_api.py
  server/validation.py
  src/enhanced_face_clustering.py
  src/face_clustering.py
  test_people_endpoints.py
  test_video_analysis.py
  tests/test_face_faiss_incremental.py
  tests/test_face_faiss_performance.py
  ui/src/api.ts
  ui/src/components/people/FaceAttributeSearch.tsx
  ui/src/pages/People.tsx
Due: ban-lazy-imports, file-size-limits

Path conditions:
  ban-lazy-imports: any of: ^server/(api/routers|services)/.*\.py$
  file-size-limits: any of: ^server/.*\.py$
